{% extends "page.html.j2" %}

{% block title %}Collect Uploads{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Collect</h1>
<form enctype="multipart/form-data" method="POST">
    <input type="file" name="file">
    <button type="button" onclick="upload(this)">Upload</button>
    <div class="progress"></div>
</form>
<br>
<a href="/static/uploads">Uploads</a>
<script>
  function upload(input) {
    fetch("/api/v0/upload/url")
      .then(resp => resp.json())
      .then(({url, key}) => {
        var xhr = new XMLHttpRequest();
        var formElt = input.parentElement;
        var progressElt = formElt.querySelector(".progress");
        var fileElt = formElt.querySelector("[name=file]");
        var file = fileElt.file || fileElt.files[0];
        xhr.upload.onprogress = function(e) {
          // progress uploading
          let amountDone = e.loaded / e.total;
          let percentage = Math.round(1000 * amountDone) * 0.1;
          progressElt.innerText = String(percentage).slice(0,4) + "%";
        }
        xhr.upload.onload = function(e) {
          // is done uploading
          fetch("/api/v0/upload/complete", {
            method: "POST",
              body: JSON.stringify({ key }),
              headers: {
                'Content-Type': 'application/json'
              }
          })
          .then(body => body.json())
          .then(res => console.log("Upload complete", {res}))
          progressElt.innerText = "100% Complete";
          formElt.file.value = null;
        }
        xhr.open("PUT", url, true);
        xhr.send(file);
        return false;
      })
  }
</script>
{% endblock %}
