{% extends "page.html.j2" %}

{% block title %}Collect Uploads{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Collect</h1>
<form enctype="multipart/form-data" method="POST">
    <input type="file" name="file">
    <input type="button" onclick="upload(this)">
</form>
<script>
  function upload(input){
    var xhr = new XMLHttpRequest();
    xhr.upload.onprogress = function(e) {
      console.log(e.loaded, e.total)
    }
    xhr.upload.onload = function(e) {
      console.log('file upload')
    }
    xhr.open("POST", "/upload", true);
    xhr.send(new FormData(input.parentElement));
  }
</script>
{% endblock %}
